.logo {
  font-family: Lobster;
  font-weight: 200;
  font-size: 2.8rem;
  padding-left: 8px;
  color: #333;
}

.menu-brand {
  padding: 32px 0;
}
.brand-ul {
  list-style: none;
}
.brand-ul li {
  line-height: 40px;
  padding: 8px 16px; 
}
.brand-ul li:hover {
  background-color: #333;
}
.brand-ul a {
  color: #fff;
}

.card .body {
  background-color: #fff;
}

.showing {
  background-color: #333;
  color: #fff;
  width: 100%;
}

.hidden-code {
  word-wrap: normal;
  border: 0;
  margin-top: -2px;
  margin-bottom: -10px;
  padding: 12px;
  width: 110%;
  height: 280px;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 0.04em;
}

.hidden-code:focus {
  border: 0;
}

.top-logo img {
  -webkit-filter: drop-shadow(0 0 10px rgba(143, 210, 200, 1));
  width: 180px;
  -webkit-transition: all 6s ease-in-out;
  -moz-transition: all 6s ease-in-out;
  -o-transition: all 6s ease-in-out;
  transition: all  6s ease-in-out;
  cursor: pointer;
  margin: 16px;
}
.top-logo img:active {
  opacity: 0.5;
  transform: rotate(3600deg);
}

.left-nav {
  width: 200px; 
  position: fixed; 
  z-index: 1; 
  height: 100vh; 
  background-color: #222; 
  color: #fff; 
  margin-top: -60px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  left: 0;
}

.wrap {
  padding-left: 200px;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.menu-header {
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  width: calc(100% - 200px) !important;
  padding-left: 200px;
}

/* Larger than tablet */
@media (max-width: 1024px) {

  .left-nav {
    left: -200px;
  }
  
  .wrap {
    padding-left: 0px;
  }
  .menu-header {
    width: calc(100%) !important;
    padding-left: 0px;
  }

}

.hidden-li {
  display: none;
  list-style: none;
}

.hidden-li li {
  padding-left: 36px !important;
}